{{!< layout}}

{{#contentFor 'style'}}
<link rel="stylesheet" href="/assets/css/page-cart.css">
{{/contentFor}}


{{#contentFor 'a'}}
<a href="/account/login?redirect=/home">
{{/contentFor}}


<div class="success-cart">
    <div class="py-container ">
      <h3>
        <i class="sui-icon icon-pc-right"></i>商品已成功加入购物车！</h3>
      <div class="goods">
        <div class="left-good">
          <div class="left-pic">
            <img src="{{goods.goods_small_logo}}">
          </div>
          <div class="right-info">
            <p class="title">{{goods.goods_name}}</p>
            <p class="attr">颜色：WFZ5099IH/5L钛金釜内胆 数量：1</p>
          </div>
        </div>
        <div class="right-gocart">
          <a href="/item/{{goods.goods_id}}" class="sui-btn btn-xlarge">查看商品详情</a>
          <a href="/cart" class="sui-btn btn-xlarge btn-danger ">去购物车结算 ></a>
        </div>
      </div>
    </div>
  </div>



  {{#contentFor 'script'}}
  	  <script type="text/template" id="tbar-cart-item-template">
    <div class="tbar-cart-item">
      <div class="jtc-item-promo">
        <em class="promo-tag promo-mz">满赠<i class="arrow"></i></em>
        <div class="promo-text">已购满600元，您可领赠品</div>
      </div>
      <div class="jtc-item-goods">
        <span class="p-img"><a href="#"><img src="{2}" alt="{1}" height="50" width="50"></a></span>
        <div class="p-name">
          <a href="#">{1}</a>
        </div>
        <div class="p-price"><strong>¥{3}</strong>×{4} </div>
        <a class="p-del" href="#">删除</a>
      </div>
    </div>
  </script>
  {{/contentFor}}